body{
  background-color: rgb(107, 107, 107);
}
.logout{
  margin-top: 100%;
}
nav{
  border-radius: 10px;
}
#navbarSupportedContent{
  transition: 1.7s;
}
#navresponsive{
  display: none;
  transition: 2s;
}
.botonera{
  margin-right: 55%;
}
.botonera li{
  margin-left: 20%;
}
.logo{
  width: 45%;
  object-fit: contain;
  border-radius: 25px;
}
.logocontainer{
  display: inline;  
}
.button-links{
  position: fixed;
  margin-left: 92%;
  z-index: 10;
}

.button-links img{
  object-fit: contain;
  width: 35%;
  border-radius: 8px;
}


.section2{
  margin-top: 25%;
}
.section1{
  background-color:rgb(0, 0, 0) ;
  margin-top: 10%;
  border-radius: 10px;
}
.card-deck{
  margin: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card-body{
  height: 60%;
}
.card{
  margin: 3%;
}
#card2{
  max-height: 87%;
}
#card3{
  margin-top: -13%;
}
.section3{
  margin-top: 10%;
  background-color: black;
  border-radius: 10px;
}
#carouselExampleCaptions img{
  max-height: 300px;
  object-fit: scale-down; 
  border-radius: 5px;
  padding: 1%;
  border-radius: 10px;
}
.section4{
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(0, 0, 0);
}
.section4 p{
  color: white;
  margin: 2%;
}
.section4 iframe{
  margin: 3%;
  border-radius: 15px;
}
.section4 input{
  border-radius: 5px;
}
h5 {
  color: white;
  margin: 2%;
  
}
th, td{
  color: white;
}
h3{
  color: white;
}

footer{
  background-color: rgb(39,39,50);
  float: bottom;
}
.container{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
h6{
 color: black;
 padding: 2%;
}
.col a{
  padding: 2%;
  color: black;
}
footer img{
  width: 15%;
  margin: 2% auto;
}


@media screen and (max-width:1024px){
  #navpc{
    display: none;
  }
  #navresponsive{
    display: block;
  }
  .button-links{
    width: 20%;
    margin-top: -12%;
    margin-left: 85%;
  }
  .logo{
    width: 30%;
  }
  footer img{
    margin: 2% ;
  }
}
@media screen and (max-width:768px){
  #navpc{
    display: none;
  }
  #navresponsive{
    display: block;
  }
  .button-links{
    width: 28%;
    margin-top: -10%;
    margin-left: 83%;
  }
  nav button{
    margin-left: 25%;
  }
  .loginform{
    width: 75%;
  }
.card-deck{
  grid-template-columns: repeat(2,1fr);
  margin-top: 50%;
  max-height: 60%;
}
.card{
  margin: 5%;
}
.section4 iframe{
  max-width: 300px;
  max-height: 250px;
  width: 75%;
}
.footer{
  max-height:200px;
}
}